<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4 mb-xl-5"><span>Bienvenue sur ma page d'accueil JHipster!</span></h1>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message"
              >Vous êtes connecté en tant que <strong>{{ accountRef.login | uppercase }}</strong
              >.</span
            >
          }
        </div>
        <button routerLink="/account/register" class="btn btn-primary mb-5">Générer un pdf</button>
      } @else {
        <div class="alert alert-warning">
          <a class="alert-link" (click)="login()">Connectez-vous</a>
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">Avez-vous déjà un compte ?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Créez un nouveau compte</a>
        </div>
      }
    </div>
  </div>
</div>
